.fieldWrapper {
  position: relative;

  &.error input {
    border-color: var(--error);
  }
  &.success input {
    border-color: var(--success);
  }
  &.success svg[data-status="success"] {
    display: block;
  }
  &.error svg[data-status="error"] {
    display: block;
  }
  &:not(:last-child):not(.error):not(.success) {
    margin-bottom: 14px;
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child):not(.error):not(.success) {
      margin-bottom: 16px;
    }
  }
}

.field {
  width: 100%;
  padding: 14px;
  border: 1px solid rgba(239, 237, 232, 0.3);
  border-radius: 12px;
  color: var(--white);
  background-color: transparent;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 2px;
  outline: none;

  &:hover {
    border-color: var(--orange);
  }
  &::placeholder {
    font-size: 14px;
    line-height: 1.29;
    color: rgba(239, 237, 232, 0.6);

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.5;
    }
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 4px;
  }
}

.messageWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  @media screen and (min-width: 768px) {
    margin-bottom: 4px;
  }
}

.errorMessage {
  margin-left: 4px;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 12px;
  letter-spacing: 0.12px;
  color: var(--error);
  line-height: 1.16;
}

.svgSuccess {
  /* display: none; */
  width: 16px;
  height: 16px;
  fill: var(--border-success);
}

.svgError {
  display: none;
  width: 16px;
  height: 16px;
  fill: var(--border-error);
}
.fieldWrapper.error .svgError {
  display: block;
}

.successMessage {
  margin-left: 4px;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 12px;
  letter-spacing: 0.12px;
  color: var(--success);
  line-height: 1.16;
}
