.link {
  display: flex;
  margin-bottom: 12px;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 1.28;
  text-decoration: none;
  color: var(--color-no-activ);
}

.svgBack {
  width: 16px;
  height: 16px;
  stroke: var(--color-no-activ);
}

@media screen and (min-width: 768px) {
  .link {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
  }
}
