
.title {
  margin-top: 91px;
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;

  @media (min-width: 768px) {
    margin-top: 141px;
    font-size: 32px;
    line-height: 1.38;
  }
  @media (min-width: 768px) {
    margin-top: 152px;
  }


}

.text {
  margin-top: 14px;
  margin-bottom: 28px;
  color: rgba(239, 237, 232, 0.3);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;

  @media (min-width: 768px) {
    margin-top: 16px;
    margin-bottom: 32px;
    width: 496px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.textWrapper {
  display: flex;
  margin-top: 12px;
}

.textHint {
  margin-right: 2px;
  font-feature-settings: "clig" off, "liga" off;
  color: rgba(239, 237, 232, 0.6);
  font-size: 12px;
  line-height: 1.5;
  @media screen and (min-width: 768px) {
    padding-left: 15px;
  }
}

.link {
  font-size: 12px;
  font-feature-settings: "clig" off, "liga" off;
  line-height: 1.5;
  text-decoration-line: underline;
}

/* ===========buttons */

@media screen and (min-width: 320px) {
  /* ==========button play */
  .buttonPlay {
 width: 146px;
 height: 66px;
  background-color: #303030;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.textPlay {
  margin-left: 56px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.iconPlay {
  position: absolute;
  width: 20px; 
  height: 20px; 
  background-color: #EF8964; 
  border-radius: 50%; 

  fill: white;
  left: 130px;
  top: 570px;
}

.smallTextPlay {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #EFEDE8;
  opacity: 0.65;
    align-self:baseline
}

.boldTextPlay {
    align-self: flex-start; 
}

.polygon {
  margin-top: 220px;
  margin-left: 90px;
}

.runner {
  margin-left: 200px;
  margin-top: 80px;
}

/* ==========button callories */
  .calButton {
 width: 119px;
 height: 76px;
  background-color: #EF8964;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}


.calIcon {
  width: 12px; 
  height: 12px; 
  background-color: #EFA082; 
  border-radius: 50%; 

  fill: white;
}

.textSvg {
  display: flex;
  margin-left: 18px;
  align-items: flex-start;  
}

.boldText {
  position: relative;
  font-weight: 700;
  font-size: 24px;
    align-self: flex-end; 
}


.smallText {
  font-size: 12px;
  margin-left: 5px;
  font-weight: 700;
  color: #EFEDE8;
  opacity: 0.65;
    align-self: flex-end;  
}
}

@media screen and (min-width: 768px) {
  /* ===============button play */
.iconPlay {
    width: 40px; 
  height: 40px; 
  fill: white;
  left: 330px;
  top: 605px;
}

.boldTextPlay {
  font-size: 24px;
}

.smallTextPlay {
  font-size: 16px;
}

.buttonPlay {
 width: 206px;
 height: 96px;
  cursor: pointer;
}

.polygon {
  margin-top: 180px;
  margin-left: 280px;
}

.textPlay {
  margin-left: 75px;
}


/* ============button runner */
.calIcon {
  width: 16px;
  height: 16px;
}

.runner {
  margin-left: 200px;
  margin-top: 80px;
}

.calButton {
 width: 180px;
 height: 110px;
}

.boldText {
  font-size: 48px;
}

.smallText {
  font-size: 16px;
}

.runner {
  margin-left: 500px;
  margin-top: 140px;
}
}

/* ==============DESKTOP */
@media screen and (min-width: 1440px) {
  .iconPlay {

  left: 15px;
  top: 30px;
}

.runner {
  position: absolute;
  top: 330px;
  right: 40px;
}


.polygon {
  position: absolute;
    top: 150px;
  left: 500px;
}
}