/* Common styles for titles and text */
.title {
  margin-top: 91px;
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
}

.text {
  margin-top: 14px;
  margin-bottom: 28px;
  color: rgba(239, 237, 232, 0.3);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
}

/* Responsive styles for titles and text */
@media (min-width: 768px) {
  .title {
    margin-top: 141px;
    font-size: 32px;
    line-height: 1.38;
  }

  .text {
    margin-top: 16px;
    margin-bottom: 32px;
    width: 496px;
    font-size: 16px;
    line-height: 1.5;
  }

  /* Wrapper for text elements */
  .textWrapper {
    display: flex;
    margin-top: 12px;
  }

  /* Styling for text hints */
  .textHint {
    margin-right: 2px;
    font-feature-settings: 'clig' off, 'liga' off;
    color: rgba(239, 237, 232, 0.6);
    font-size: 12px;
    line-height: 1.5;
    padding-left: 15px;
  }

  /* Styling for links */
  .link {
    font-size: 12px;
    font-feature-settings: 'clig' off, 'liga' off;
    line-height: 1.5;
    text-decoration-line: underline;
  }
}

/* Button styles for different screen sizes */
@media screen and (min-width: 320px) {
  /* Play button styles */
  .buttonPlay {
    width: 146px;
    height: 66px;
    background-color: #303030;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }

  .textPlay {
    margin-left: 56px;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .iconPlay {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ef8964;
    border-radius: 50%;
    fill: white;
    left: 130px;
    top: 570px;
  }

  .smallTextPlay {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 400;
    color: #efede8;
    opacity: 0.65;
    align-self: baseline;
  }

  .boldTextPlay {
    align-self: flex-start;
  }

  .polygon {
    margin-top: 220px;
    margin-left: 90px;
  }

  .runner {
    margin-left: 200px;
    margin-top: 80px;
  }

  /* Calories button styles */
  .calButton {
    width: 119px;
    height: 76px;
    background-color: #ef8964;
    color: #fff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
  }

  .calIcon {
    width: 12px;
    height: 12px;
    background-color: #efa082;
    border-radius: 50%;
    fill: white;
  }

  .textSvg {
    display: flex;
    margin-left: 18px;
    align-items: flex-start;
  }

  .boldText {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    align-self: flex-end;
  }

  .smallText {
    font-size: 12px;
    margin-left: 5px;
    font-weight: 700;
    color: #efede8;
    opacity: 0.65;
    align-self: flex-end;
  }
}

@media screen and (min-width: 768px) {
  /* Play button styles for larger screens */
  .iconPlay {
    width: 40px;
    height: 40px;
    fill: white;
    left: 330px;
    top: 605px;
  }

  .boldTextPlay {
    font-size: 24px;
  }

  .smallTextPlay {
    font-size: 16px;
  }

  .buttonPlay {
    width: 206px;
    height: 96px;
    cursor: pointer;
  }

  .polygon {
    margin-top: 180px;
    margin-left: 280px;
  }

  .textPlay {
    margin-left: 75px;
  }

  /* Runner button styles */
  .calIcon {
    width: 16px;
    height: 16px;
  }

  .runner {
    margin-left: 500px;
    margin-top: 140px;
  }
}

/* Desktop styles */
@media screen and (min-width: 1440px) {
  .iconPlay {
    left: 15px;
    top: 30px;
  }

  .runner {
    position: absolute;
    top: 330px;
    right: 40px;
  }

  .polygon {
    position: absolute;
    top: 150px;
    left: 500px;
  }
}
