@media screen and (min-width: 320px) {
.calButton {
 width: 119px;
 height: 76px;
  background-color: #EF8964;
  color: #fff;
  border: none;
  border-radius: 12px;
}


.calIcon {
    margin-top: 14px;
    margin-left: 18px;
  width: 20px; 
  height: 20px; 
  background-color: #EFA082; 
  border-radius: 50%; 

  fill: white;
}

.textSvg {
    margin-left: 18px;
}

.boldText {
  font-weight: 700;
  font-size: 24px;
    align-self: flex-end; 
}


.smallText {
  font-size: 12px;
  font-weight: 700;
  color: #EFEDE8;
  opacity: 0.65;
}
}

@media screen and (min-width: 768px) {
    .calIcon {
    margin-top: 14px;
    margin-left: 28px;
  width: 24px; 
  height: 24px; 
}

.calButton {
 width: 180px;
 height: 110px;
}
.boldText {
  font-size: 48px;
}
.smallText {
  font-size: 16px;
}

.textSvg {
    margin-left: 28px;
}
}

@media screen and (min-width: 1440px) {

}