.bgImg {  
  position: absolute;
  top: 241px;
  left: 77px;
  width: 446px;
  height: 669px;
  background-image: var(--background-linear-gradient), url("../../images/background/bg-img-mobile-1x.jpg");
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .backgroundContainer::after {
    background-image: url('../../images/background/bg-img-mobile-2x.jpg');
  }
}



@media screen and (min-width: 375px) {
  /* .bgImg {
    background-position-y: bottom;
  } */
}

@media screen and (min-width: 768px) {
  .bgImg {
    top: 131px;
    left: 331px;
    width: 670px;
    height: 1005px;
    background-image: var(--background-linear-gradient), url("../../images/background/bg-img-tablet-1x.jpg");
  }
      @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .backgroundContainer::after {
    background-image: url('../../images/background/bg-img-tablet-2x.jpg');
  }
}
}

@media screen and (min-width: 1440px) {
  .bgImg {
    top: -152px;
    left: 770px;
    background-image: var(--background-linear-gradient) url("../../images/background/bg-img-tablet-1x.jpg");
    /* background-image: url("../../images/bg-img-desktop-1x.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("../../images/bg-img-desktop-2x.jpg");
    } */
  }
}
