@media screen and (min-width: 1440px) {
  .productsBgImg {
    position: absolute;
    z-index: -1;
    width: 807px;
    height: 716px;
    top: 0px;
    left: 1012px;
    background-image: var(--background-linear-gradient-products),
      url('../../../images/background/bg-products-desktop-1x.jpg');
    background-repeat: no-repeat;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .backgroundContainer::after {
      background-image: url('../../../images/background/bg-products-desktop-2x.jpg');
    }
  }
}
