.diaryMainItem:not(:last-child) {
  margin-bottom: 40px;
}

.element {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 8px;
  margin-bottom: 16px;
}

.elementWrap tr:nth-last-child(-n + 4) {
  margin-bottom: 0px;
}

.elementWrap tr:nth-last-child(n + 3) {
  margin-right: 16px;
}

.elementWrap tr:last-child {
  margin-left: 8px;
}

.elementWrap {
  display: flex;
}

.nameCategory {
  max-width: 70px;

  color: #ef8964;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nameValue {
  padding: 10px 14px;

  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.3);

  color: #efede8;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.elementWrap .nameValue {
  width: 75px;
}

.elementWrap .element:last-child {
  width: 24px;
}

.recommendWrap {
  display: flex;
  gap: 8px;
  align-items: center;
}

.productRecommend {
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background: #419b09;
}

.productNotRecommend {
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background: #e9101d;
}

.trashValue {
  cursor: pointer;
}

.trashImg {
  cursor: pointer;
  width: 20px;
  height: 20px;
  stroke: var(--orange-1);

  transition: all 0.3s ease;
}

.trashImg:is(:hover, :focus) {
  stroke: #a82b2b;
  transform: scale(1.1);
}

.nameTrash {
  visibility: hidden;
}
@media (max-width: 375px) {
  .elementWrap .nameValue {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .diaryMainItem:not(:first-child) .nameCategory {
    display: none;
  }

  .diaryMainItem:not(:last-child) {
    margin-bottom: 8px;
  }

  .table {
    display: flex;
    gap: 8px;
  }

  .element {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
  }

  .nameValue {
    padding: 8px 14px;
    font-size: 16px;
    line-height: 1.5;
  }

  .elementWrap .nameValue {
    width: 90px;
  }

  .elementWrap tr:nth-last-child(n + 3) {
    margin-right: 8px;
  }

  .elementWrap tr:last-child {
    margin-left: 12px;
  }

  .bodyTable {
    display: flex;
    gap: 8px;
  }

  .bodyTable .nameValue {
    width: 120px;
  }

  .table .bodyTable .element:first-child .nameValue {
    width: 205px;
  }
}

@media screen and (min-width: 1440px) {
  .diaryMainList {
    padding-left: 16px;
  }

  .bodyTable .nameValue {
    width: 170px;
  }

  .elementWrap .nameValue {
    width: 105px;
  }
}
