.formWrapper {
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .formWrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
    gap: 14px;
  }

  .titleName {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.29;
  }

  .inputContainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .labelInput {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.29;
  }

  .topFieldWrapper {
    position: 'relative';
    width: 50%;
  }

  .radioBloodContainer {
    margin-right: 32px;
  }

  .levelActivityWrapper {
    margin-top: 32px;
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 1440px) {
  .formContainer {
    padding-right: 64px;
  }

  .input {
    font-size: 16;
    line-height: 1.5;
  }

  .radioWrapper {
    flex-direction: column;
  }

  .levelActivityWrapper {
    margin-bottom: 48px;
  }
}

.topFieldWrapper {
  position: 'relative';
  margin-bottom: 14px;
  width: 100%;
}

.titleName {
  margin-bottom: 4px;
  font-family: 'Roboto';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(239, 237, 232, 0.5);
}

.input {
  align-items: center;
  width: 100%;
  padding: 14px;
  gap: 10px;
  font-family: 'Roboto';
  line-height: 1.28;
  border-radius: 12px;
  border: var(--border-input);
  background-color: transparent;
  color: var(--white);
  outline: none;
  transition: border-color var(--transition);
}

.input:not(.inputEmail):focus-visible,
.input:not(.inputEmail):hover {
  border-color: var(--orange);
}

.error input:not(:last-child) {
  border-color: var(--error);
}

.inputEmail {
  color: rgba(239, 237, 232, 0.6);
}

.inputContainer {
  width: 100%;
  gap: 14px;
}

.inputWrapper {
  display: inline-flex;
  align-items: flex-end;
  margin-bottom: 14px;
  width: 100%;
  gap: 14px;
}

.fieldContainer {
  position: relative;
  width: 50%;
}

.labelInput {
  font-family: 'Roboto';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(239, 237, 232, 0.5);
}

.field {
  align-items: center;
  width: 100%;
  padding: 14px;
  gap: 10px;
  border-radius: 12px;
  border: var(--border-input);
  background-color: transparent;
  color: var(--white);
  outline: none;
  transition: border-color var(--transition);
}
.field:focus-visible,
.field:hover {
  border-color: var(--orange);
}

.radioWrapper {
  display: flex;
  flex-wrap: wrap;
}
.radioContainer {
  display: flex;
}
.radioBloodContainer {
  display: flex;
  margin-right: 20px;
}

.radioSexContainer {
  display: flex;
}

.levelActivityWrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}

.levelInput {
  margin-right: 0;
}

.buttonSave {
  padding: 16px 50px;
  width: 144px;
}

.buttonSave:disabled {
  opacity: 0.5;
}
