.backgroundContainer {
  margin: 0 auto;
  width: 1440px;
  height: 800px;
  background: linear-gradient(80deg, #040404 -2.45%, rgba(4, 4, 4, 0.00) 68.17%), url('../../images/background/bg-img-desktop-1x.jpg'),  0px -48px / 94.516% 105.335%;
  /* background-image: 
  
  linear-gradient(
      170deg,
      #040404 3.66%,
      rgba(4, 4, 4, 0) 19.15%
    ),
    linear-gradient(73deg, #040404 6.11%, rgba(4, 4, 4, 0) 66.68%),
    url('../../images/background/bg-img-desktop-1x.jpg'); */
  /* background-size: cover; */
  background-position: 963px -200px ;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .backgroundContainer::after {
    background-image: url('../../images/background/bg-img-desktop-2x.jpg');
  }
}
