.dayDashboard {
  margin-top: 40px;
}

.statisticList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 13px;
  row-gap: 20px;

  margin-bottom: 20px;
}

.adviceWrap {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}

.adviceIconWrap {
  width: 24px;
  height: 24px;

  background-color: var(--beige);
  border-radius: 50%;
}

.exclamationIcon {
  width: 24px;
  height: 24px;
}

.adviceText {
  color: var(--semiwhite);
  font-size: 14px;
  line-height: 1.28;

  max-width: 303px;
}

@media screen and (max-width: 365px) {
  .statisticList {
    display: flex;

    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .dayDashboard {
    max-width: 532px;

    margin-top: 64px;

    order: 2;
  }

  .statisticList {
    flex-direction: column;
    column-gap: 16px;
    row-gap: 16px;

    margin-bottom: 32px;

    max-width: 532px;
    max-height: 248px;
  }

  .adviceText {
    max-width: 561px;

    font-size: 16px;
    line-height: 1.5;
  }
}

@media (min-width: 1440px) {
  .dayDashboard {
    order: 3;

    max-width: 390px;

    margin-top: 0px;
  }

  .statisticList {
    flex-direction: row;

    margin-bottom: 48px;

    max-height: 500px;
  }
}
