.list {
  margin-bottom: 40px;
  margin-top: 20px;
  display: flex;
  gap: 28px;
}

.button_filter {
  background-color: transparent;
  color:var( --color-no-activ);
  cursor: pointer;
  font-size: 14px;
  line-height: 1.29;
  padding: 4px 0;
  border: none; 
  position: relative;
}

.active {
  color:var(--white);
  background-color:transparent; 
}

.active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -4px; 
  height: 4px; 
  background-color:var(--orange-1); 
  border-radius: 2px; 
}

@media (min-width: 768px){
  .list {
    margin-bottom: 70px;
    margin-top: 0;
    gap: 32px;
}

  .button_filter {
    font-size: 16px;
    line-height: 1.5;
}
  
}

