button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  cursor: pointer;
  outline: none;
}

.diaryMainItem:not(:last-child) {
  margin-bottom: 40px;
}

.diaryDetailsItem:not(:last-child) {
  margin-bottom: 16px;
}

.diaryDetailsItemCategory {
  color: #ef8964;
  display: inline-block;

  font-family: Roboto;
  font-size: 12px;
  font-weight: 400; /**/
  line-height: 1.5;

  margin-bottom: 8px;
}

.diaryDetailsItemValue {
  padding: 10px 14px;

  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.3);

  color: #efede8;
  font-size: 14px;
  font-weight: 400; /**/
  line-height: 1.28;
}

.diaryDetailsWrapValueMob {
  width: 80px;
}

.diaryDetailsListMob {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diaryDetailsItemMob:not(:last-child) {
  gap: 16px;
}

.diaryTrashWrap {
  display: flex;
  gap: 8px;
  align-items: center;
}

.diaryProductRecommendWrap {
  display: flex;
  gap: 8px;
  align-items: center;
}

.diaryProductRecommend {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #419b09;
}

.diaryProductNotRecommend {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #e9101d;
}

.trashImg {
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 375px) {
  .diaryRecommendWrap {
    justify-content: space-around;
  }

  .diaryDetailsListWrap {
    justify-content: space-around;
  }

  .diaryDetailsItemWrap:not(:last-child) {
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .diaryDetailsList {
    display: flex;
    gap: 8px;
  }

  .diaryMainList .diaryDetailsItemCategory {
    display: none;
  }
  .diaryMainList > li:first-child .diaryDetailsItemCategory {
    display: block;
  }

  .diaryMainItem:not(:last-child) {
    margin-bottom: 8px;
  }

  .diaryDetailsItem:not(:last-child) {
    margin-bottom: 0px;
  }

  .diaryDetailsItemValue {
    padding: 8px 14px;
    padding-right: 45px;

    max-height: 40px;

    font-size: 16px;
    line-height: 1.5;
    font-weight: 400; /**/

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .diaryDetailsListMob {
    gap: 8px;
  }

  .diaryDetailsWrapValueMob {
    width: 90px;
  }

  .diaryTrashWrap {
    gap: 12px;
  }

  .diaryProductRecommend {
    width: 14px;
    height: 14px;
  }
}

@media screen and (min-width: 1440px) {
  .diaryMainList {
    padding-left: 16px;
  }

  .diaryDetailsItemValue {
    padding-right: 50px;
  }
}
