@media (min-width: 768px) {
  .widthTitle {
    width: 204px;
  }
  .widthCategory {
    width: 128px;
  }
  .widthCalories {
    width: 90px;
  }
  .widthWeight {
    width: 90px;
  }
  .widthRecommend {
    width: 90px;
  }
}

@media (min-width: 1440px) {
  .widthTitle {
    width: 212px;
  }
  .widthCategory {
    width: 166px;
  }
  .widthCalories {
    width: 105px;
  }
  .widthWeight {
    width: 105px;
  }
  .widthRecommend {
    width: 110px;
  }
}
