.exercisesContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .exercisesContainer {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 16px;
  }
}

@media screen and (min-width: 1440px) {
  .exercisesContainer {
    gap: 32px 15px;
  }
}
