.diaryPage {
  display: flex;
  flex-direction: column;
}

.calendarWrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .diaryPage {
    position: relative;
  }

  .calendar {
    position: absolute;
    top: -10px;
    right: 0px;
  }

  .sectionWrap {
    margin-top: 32px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
  }
}

@media (min-width: 1440px) {
  .sectionWrap {
    margin-top: 32px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
  }
}
