.diaryPage {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-bottom: 40px;
}

.calendarWrap {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .diaryPage {
    position: relative;

    padding-top: 72px;
    padding-bottom: 0px;
  }

  .calendar {
    position: absolute;
    top: 52px;
    right: 0;
  }

  .sectionWrap {
    margin-top: 32px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media (min-width: 1440px) {
  .sectionWrap {
    margin-top: 32px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
  }
}
