.container {
  padding: 48px 8px;
}

@media (min-width: 375px) {
  .container {
    padding: 48px 24px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 48px 32px;
  }
}

.inputContainer {
  position: relative;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 768px) {
  .inputContainer {
    flex-direction: row;
  }
}

.inputProduct {
  width: 287px;
  height: 34px;
  padding: 8px 14px;
  border-radius: 12px;
  border: var(--border-accent);
  background-color: inherit;
  color: var(--semiwhite);
}

@media (min-width: 768px) {
  .inputProduct {
    width: 244px;
    height: 40px;
  }
}

.inputGrams {
  position: relative;
  width: 287px;
  height: 34px;
  padding: 8px 14px;
  border-radius: 12px;
  border: var(--border-accent);
  gap: 10px;
  background-color: inherit;
  color: var(--white);

  &::placeholder {
    color: var(--semiwhite);
    text-align: right;
    /* 
    &::-webkit-outer-spin-button,
    ::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    } */
  }
}

@media (min-width: 768px) {
  .inputGrams {
    width: 155px;
    height: 40px;
  }
}

.text {
  font-size: 12px;
  line-height: 1.5;
  color: var(--semiwhite);
  margin-bottom: 24px;
}

@media (min-width: 768px) {
  .text {
    margin-bottom: 64px;
  }
}

.textCalories {
  color: var(--white);
}

.buttonWrapper {
  display: flex;
  gap: 14px;
}

.buttonCancel {
  padding: 12px 36px;
  background-color: transparent;
  border: var(--border-solid-color);
}

.button {
  padding: 12px 32px;
  background-color: var(--orange);
  color: var(--white);
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.125;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--orange-1);
  }

  &:focus {
    background-color: var(--orange-1);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@media (min-width: 768px) {
  .button {
    padding: 14px 32px;
  }
}

.button2 {
  padding: 12px 36px;
  background-color: transparent;
  border: var(--border-solid-color);
  color: var(--white);
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.125;
}

@media (min-width: 768px) {
  .button2 {
    padding: 14px 40px;
  }
}
