.solid {
  border-top: var(--border-solid-color);
}


.section {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 375px;
  min-height: 812px;
}

@media (min-width: 768px) {
  .section {
    width: 768px;
    min-height: 1024px;
  }
}

@media (min-width: 1440px) {
  .section {
    width: 1440px;
    min-height: 800px;
  }
}
