:root {
    --black-color: #000000;
    --e6533c-color: #e6533c;
    --custom-icon-color: #f5f1f1;
}

.container {
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.arrowSpan {
    cursor: pointer;
    font-size: 1.5em;
    margin: 0 10px;
}

.datePicker {
    width: 95px;
    border: none;
    background: var(--black-color);
    color:var(--custom-icon-color);
}

.calendarIcon {
    cursor: pointer;
    width: 15px;
    color: var(--custom-icon-color);
}

.dateText,
.calendarIcon {
    cursor: pointer;
    margin-right: 10px;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.arrowSpan {
    cursor: pointer;
    margin-right: 10px;
}

.customCalendar {
    background-color:var(--e6533c-color);
    border-radius: 5px;
    padding: 10px;
}