.form {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 364px;
  }
}
.formWrapper {
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    margin-bottom: 64px;
  }
}

.svgError {
  display: none;
  width: 16px;
  height: 16px;
  fill: var(--border-error);
}

.buttonEye {
  position: absolute;
  top: 15px;
  left: 90%;
  background-color: inherit;
  border: none;
}

.svgEye {
  width: 20px;
  height: 20px;
  stroke: var(--white);
}
