.section {
  padding-top: 40px;
  padding-bottom: 66px;

  @media screen and (min-width: 768px) {
    padding-top: 72px;
    padding-bottom: 54px;
  }
  @media screen and (min-width: 1440px) {
    padding-bottom: 44px;
  }
}

.title {
  margin-bottom: 40px;
}

.container {
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
