.title {
  margin-bottom: 40px;
}

.container {
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: 1440px) {
    flex-direction: row;
    justify-content: space-between;
  }
}
