.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo_wrap {
  display: flex;
  gap: 8px;
}

.list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link {
  line-height: 1.5;
  padding: 20px 26px;
  display: block;
  border: var(--border-solid-color);
  border-radius: var(--border-radius);
}

.avatart {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: var(--border-accent);
  background-color: var(--background-avatar);
}

.button {
  line-height: 1.5;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  /* другие стили */
}

.my-node-enter {
  transform: translateX(100%);
}

.my-node-enter-active {
  transform: translateX(0);
  transition: transform 200ms;
}

.my-node-exit {
  transform: translateX(0);
}

.my-node-exit-active {
  transform: translateX(100%);
  transition: transform 200ms;
}

.burger_btn {
  display: none;
}

@media screen and (max-width: 1440px) {
  .burger_btn {
    display: block;
  }
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .link {
    font-size: 14px;
    line-height: 1.29;
    padding: 20px 26px;
    display: block;
    border: var(--border-solid-color);
    border-radius: var(--border-radius);
  }
}

@media screen and (max-width: 768px) {
  .burger_wrap {
    padding: 20px;
    transition: transform 1s ease-in-out;
  }
}

.burger_wrap {
  position: fixed;
  top: 0;
  right: 0;
  padding: 26px;
  transition: transform 1s ease-in-out;
  transform: translateX(100%);
  background-color: var(--orange);
  width: 350px;
  height: 1024px;
}

.burger_wrap.open {
  transform: translateX(0);
}
