.dayExecrcises {
  margin-top: 40px;
  padding: 16px 8px 16px 16px;

  max-width: 335px;
  max-height: 1064px;
  overflow-y: hidden;

  border-radius: var(--border-radius);
  border: var(--border-solid-color);
  background: rgba(239, 237, 232, 0.05); /**************/
}

.dayScrollWrap {
  overflow-y: auto;
  max-height: 1032px;
}

.diaryNav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-bottom: 22px;
}

.diarySubtitle {
  color: rgba(239, 237, 232, 0.5); /*******************/

  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

@media (min-width: 768px) {
  .dayExecrcises {
    max-width: 704px;
    max-height: 234px;

    margin-top: 32px;
  }

  .dayScrollWrap {
    max-height: 207px;
  }

  .diaryNav {
    margin-bottom: 16px;
  }
}

@media (min-width: 1440px) {
  .dayExecrcises {
    min-width: 826px;
  }
}

/* SCROLL */

.dayScrollWrap::-webkit-scrollbar {
  width: 6px;
  border-radius: var(--border-radius);
}

.dayScrollWrap::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: rgba(239, 237, 232, 0.1); /**************/
}

.dayScrollWrap::-webkit-scrollbar-track {
  border-radius: var(--border-radius);
}
