.statisticItem {
  padding: 14px;

  max-width: 157px;
  height: 96px;

  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
  background: rgba(239, 237, 232, 0.05);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;
}

.statisticItemPositive {
  border: 1px solid #3cbf61;
}

.statisticItemNegative {
  border: 1px solid #e9101d;
}

.primaryStatisticItem {
  border-radius: 12px;
  border: 1px solid rgba(239, 237, 232, 0.2);
  background: #e6533c;
}

.statisticTitleWrap {
  display: flex;
  gap: 8px;
  align-items: center;
}

.statisticTitle {
  color: rgba(239, 237, 232, 0.4);
  min-width: 100px;

  font-size: 12px;
  font-weight: 400; /**/
  line-height: 1.33;
}

.statisticPrimaryTitle {
  color: rgba(239, 237, 232, 0.8);
}

.statisticIcon {
  width: 20px;
  height: 20px;

  fill: #ef8964;
}

.statisticValue {
  color: #efede8;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
}

@media (min-width: 768px) {
  .statisticItem {
    padding: 18px;
    min-width: 187px;
    min-height: 116px;
  }

  .statisticTitle {
    line-height: 1.5;
  }

  .statisticValue {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.33; /* 111.111% */
  }
}
