.form {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 364px;
  }
}

.formWrapper {
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    margin-bottom: 64px;
  }
}


.messageWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  @media screen and (min-width: 768px) {
    margin-bottom: 4px;
  }
}

.svgError {
  display: none;
  width: 16px;
  height: 16px;
  fill: var(--border-error);
}
.fieldWrapper.error .svgError {
  display: block;
}

.svgSuccess {
  /* display: none; */
  width: 16px;
  height: 16px;
  fill: var(--border-success);
}

.errorMessage {
  margin-left: 4px;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 12px;
  letter-spacing: 0.12px;
  color: var(--error);
  line-height: 1.16;
}

.successMessage {
  margin-left: 4px;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 12px;
  letter-spacing: 0.12px;
  color: var(--success);
  line-height: 1.16;
}

.buttonEye {
  position: absolute;
  top: 15px;
  left: 90%;
  background-color: inherit;
  border: none;
}

.svgEye {
  width: 20px;
  height: 20px;
  stroke: var(--white);
}
