.exerciseArrowSvg {
  margin-right: 8px;
  width: 16px;
  height: 16px;
  stroke: rgba(239, 237, 232, 0.4);
}
.exerciseArrow:hover .exerciseArrowSvg,
.exerciseArrow:focus .exerciseArrowSvg {
  stroke: var(--header-white-color);
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.exerciseArrow {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  background: none;
  border: none;
  color: rgba(239, 237, 232, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  margin-top: 10px;
  margin-bottom: 12px;
}

.exerciseArrow:hover,
.exerciseArrow:focus {
  color: var(--header-white-color);
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.exercisesTitle {
  color: #efede8;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .cardContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 500px;
    gap: 32px 16px;
    scrollbar-width: thin;
    scrollbar-color: #ef8964 rgba(239, 237, 232, 0.1);
  }

  .exerciseArrow {
    margin-top: 32px;
    margin-bottom: 21px;
  }

  .exercisesTitle {
    margin-bottom: 32px;
    font-size: 32px;
  }

  /* SCROLL */

  .cardContainer::-webkit-scrollbar {
    width: 8px;
  }

  .cardContainer::-webkit-scrollbar-thumb {
    background-color: var(--orange-1);
    border-radius: 5px;
    height: 156px;
  }

  .cardContainer::-webkit-scrollbar-track {
    background-color: rgba(239, 237, 232, 0.1);
    border-radius: 5px;
  }
}

@media (min-width: 1440px) {
  .cardContainer {
    width: 850px;
  }
  .cardContainerBackground {
    display: flex;
  }
  .exerciseArrow {
    font-size: 16px;
  }
  .containerProducts {
    display: flex;
    margin-top: 68px;
  }
}
