.form {
  width: 100%;

  @media screen and (min-width: 768px) {
    width: 364px;
  }
}

.formWrapper {
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    margin-bottom: 64px;
  }
}

.fieldWrapper {
  position: relative;

  &.error input {
    border-color: var(--border-error);
  }
  &.success input {
    border-color: var(--border-success);
  }
  &.success svg[data-status="success"] {
    display: block;
  }
  &.error svg[data-status="error"] {
    display: block;
  }
  &:not(:last-child):not(.error):not(.success) {
    margin-bottom: 14px;
  }
  @media screen and (min-width: 768px) {
    &:not(:last-child):not(.error):not(.success) {
      margin-bottom: 16px;
    }
  }
}

.field {
  width: 100%;
  padding: 14px;
  border: 1px solid rgba(239, 237, 232, 0.3);
  border-radius: 12px;
  color: var(--white);
  background-color: transparent;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 2px;
  outline: none;

  &:hover {
    border-color: var(--orange);
  }
  &::placeholder {
    font-size: 14px;
    line-height: 1.29;
    color: rgba(239, 237, 232, 0.6);

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.5;
    }
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 4px;
  }
}
