
.logo {
  margin-top: 24px;
}


.buttonWrapper {
  display: flex;
  gap: 14px;
  margin-top: 30px;
}

.wrapper {
    margin-top: 80px;
}

.body-text {
  position: relative;
}


.title {
    width: 335px;
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 0.38px;
}

.exerciseArrowSvg {
  position: absolute;
  top: 155px;
  left: 22px;
  width: 105px;
  height: 67px;
} 


.buttonSignUp {
  width: 136px;
  background-color: transparent;
  border: 1px solid #EFEDE8;
  opacity: 0.7;
  transition: background-color 0.2s;
}

.buttonSignIn {
  width: 130px;
  background-color: transparent;
  border: 1px solid #EFEDE8;
  opacity: 0.7;
  transition: background-color 0.2s;
}

.buttonSignUp:hover,
.buttonSignUp:focus {
  background-color: #E6533C;
}

.buttonSignIn:hover,
.buttonSignIn:focus {
  background-color: #E6533C;
}
/* ==============button info callories */

.calButton {
 width: 119px;
 height: 76px;
  background-color: #EF8964;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}


.calIcon {
  width: 20px; 
  height: 20px; 
  background-color: #EFA082; 
  border-radius: 50%; 

  fill: white;
}

.textSvg {
  display: flex;
  margin-left: 18px;
  align-items: flex-start;  
}

.boldText {
  position: relative;
  font-weight: 700;
  font-size: 24px;
    align-self: flex-end; 
}


.smallText {
  font-size: 12px;
  margin-left: 5px;
  font-weight: 700;
  color: #EFEDE8;
  opacity: 0.65;
    align-self: flex-end;  
}

/* ============button play */

.buttonPlay {
 width: 146px;
 height: 66px;
  background-color: #303030;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.textPlay {
  margin-left: 56px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.iconPlay {
  position: absolute;
  width: 20px; 
  height: 20px; 
  background-color: #EF8964; 
  border-radius: 50%; 

  fill: white;
  left: 53px;
  top: 360px;
}

.smallTextPlay {
  margin-top: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #EFEDE8;
  opacity: 0.65;
    align-self:baseline
}



.boldTextPlay {
    align-self: flex-start; 
}



/* ===============TABLET */

@media screen and (min-width: 768px) {
.logo {
  margin-top: 32px;
}
.wrapper {
    margin-top: 130px;
}

.title {
    width: 598px;
  font-size: 70px;
  font-weight: 500;
}

.buttonSignUp {
  width: 190px;
}

.buttonSignIn {
  width: 182px;
}

.exerciseArrowSvg {
  top: 265px;
  left: 13px;
  width: 230px;
  height: 67px;
} 

.buttonWrapper {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

}


/* ==============DESKTOP */

@media screen and (min-width: 1440px) {
  .wrapper {
    margin-top: 152px;
    margin-right: 76px;
  }


.exerciseArrowSvg {
 left: 73px;
   top: 285px;
  width: 230px;
  height: 67px;
} 
}



