.section {
  padding-top: 66px;

  @media screen and (min-width: 768px) {
    padding-top: 140px;



    
  }
  @media screen and (min-width: 1440px) {
    padding-top: 152px;
    padding-bottom: 114px;
  }
}


.buttonWrapper {
  display: flex;
  gap: 14px;
  margin-top: 30px;
}

.wrapper {
  margin-top: 80px;
}

.body-text {
  position: relative;
}

.title {
  width: 335px;
  font-size: 38px;
  font-weight: 500;
  letter-spacing: 0.38px;
  margin-top: 91px;
  
}

.exerciseArrowSvg {
  position: absolute;
  z-index: -1;
  top: 147px;
  left: 12px;
  width: 98px;
  height: 67px;
}

.buttonSignUp {
  width: 136px;
  background-color: transparent;
  border: 1px solid #efede8;
  opacity: 0.7;
  transition: background-color 0.2s;
}

.buttonSignIn {
  width: 130px;
  background-color: transparent;
  border: 1px solid #efede8;
  opacity: 0.7;
  transition: background-color 0.2s;
}

.buttonSignUp:hover,
.buttonSignUp:focus {
  background-color: #e6533c;
}

.buttonSignIn:hover,
.buttonSignIn:focus {
  background-color: #e6533c;
}



/* ===============TABLET */

@media screen and (min-width: 768px) {
  .exerciseArrowSvg {

    top: 284px;
    left: 13px;
    width: 185px;
    height: 67px;
  }
  .logo {
    margin-top: 32px;
  }
  .wrapper {
    margin-top: 130px;
  }

  .title {
    margin-top: 141px;
    width: 598px;
    font-size: 70px;
    font-weight: 500;
    line-height: 1.12;
    letter-spacing: 0.7px;
  }

  .buttonSignUp {
    width: 190px;
  }

  .buttonSignIn {
    width: 182px;
  }


}

/* ==============DESKTOP */

@media screen and (min-width: 1440px) {
  .title{
    margin-top: 151px;
  }
  .wrapper {
    margin-top: 152px;
    margin-right: 76px;
  }

  .exerciseArrowSvg {
    left: 73px;
    top: 300px;
    width: 185px;
    height: 67px;
  }

  .runner {
    position: absolute;
    top: 455px;
    right: 40px;
  }

  .polygon {
    position: absolute;
    top: 215px;
    left: 500px;
  }
}
