.title {
  margin-top: 91px;
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;

  @media (min-width: 768px) {
    margin-top: 141px;
    font-size: 32px;
    line-height: 1.38;
  }
  @media (min-width: 768px) {
    margin-top: 152px;
  }
}


.text {
  margin-top: 14px;
  margin-bottom: 28px;
  color: rgba(239, 237, 232, 0.3);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;

  @media (min-width: 768px) {
    margin-top: 16px;
    margin-bottom: 32px;
    width: 496px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.textWrapper {
  display: flex;
  margin-top: 12px;
}

.textHint {
  margin-right: 2px;
  font-feature-settings: "clig" off, "liga" off;
  color: rgba(239, 237, 232, 0.6);
  font-size: 12px;
  line-height: 1.5;
  @media screen and (min-width: 768px) {
    padding-left: 15px;
  }
}

.link {
  font-size: 12px;
  font-feature-settings: "clig" off, "liga" off;
  line-height: 1.5;
  text-decoration-line: underline;
}