.addButtonLink {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.addButtonTitle {
  color: #e6533c;

  font-size: 14px;
  font-weight: 500; /**/
  line-height: 1.28;
}

.addButtonImg {
  width: 16px;
  height: 16px;

  stroke: #e6533c;
}

@media (min-width: 768px) {
  .addButtonTitle {
    font-size: 16px;
    line-height: 1.5;
  }
}
