.radio {
  position: relative;
}

.radioInput {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radioLabel {
  margin-right: 9px;
  padding: 0 0 0 25px;
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.7;
  color: var(--white);
  cursor: pointer;

  @media screen and (min-width: 768px) {
    margin-right: 12px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.radioLabel::before {
  content: "";
  display: block;
  position: absolute;
  top: 3px;
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #636366;
  background-color: transparent;
  border-radius: 50%;
}

.radioLabel::after {
  content: "";
  display: block;
  position: absolute;
  top: 7px;
  left: 4px;
  z-index: 2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid var(--orange);
  background-color: var(--orange);
  opacity: 0;
}

.radioInput:checked + .radioLabel::before {
  border-color: var(--orange);
}

.radioInput:checked + .radioLabel::after {
  opacity: 1;
}
